# Data Analysis

In [2]:
import numpy as np
import pandas as pd
from quantile_forest import RandomForestQuantileRegressor
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder


random_state = 0
np.random.seed(random_state)

# Competition variables.
base_path = "../prediction-interval-competition-ii-house-price/"
alpha = 0.1

In [3]:
df = pd.read_csv(base_path + "dataset.csv", index_col="id", parse_dates=["sale_date"])
df_test = pd.read_csv(base_path + "test.csv", index_col="id", parse_dates=["sale_date"])

## Visualization

In [5]:
print(df.columns)

Index(['sale_date', 'sale_price', 'sale_nbr', 'sale_warning', 'join_status',
       'join_year', 'latitude', 'longitude', 'area', 'city', 'zoning',
       'subdivision', 'present_use', 'land_val', 'imp_val', 'year_built',
       'year_reno', 'sqft_lot', 'sqft', 'sqft_1', 'sqft_fbsmt', 'grade',
       'fbsmt_grade', 'condition', 'stories', 'beds', 'bath_full', 'bath_3qtr',
       'bath_half', 'garb_sqft', 'gara_sqft', 'wfnt', 'golf', 'greenbelt',
       'noise_traffic', 'view_rainier', 'view_olympics', 'view_cascades',
       'view_territorial', 'view_skyline', 'view_sound', 'view_lakewash',
       'view_lakesamm', 'view_otherwater', 'view_other', 'submarket'],
      dtype='object')

In [9]:
from collections import defaultdict

dict_cnt = defaultdict(int)
target = df['city']

for row in target:
    dict_cnt[row] += 1

display(dict_cnt)

defaultdict(int,
            {'FEDERAL WAY': 7616,
             'KIRKLAND': 8563,
             'RENTON': 9368,
             'BURIEN': 3823,
             'KING COUNTY': 27127,
             'SEATTLE': 59001,
             'KENT': 9429,
             'SAMMAMISH': 9563,
             'AUBURN': 6249,
             'COVINGTON': 3104,
             'ISSAQUAH': 3671,
             'BELLEVUE': 10691,
             'MAPLE VALLEY': 4958,
             'BOTHELL': 2124,
             'SeaTac': 1571,
             'REDMOND': 4782,
             'LAKE FOREST PARK': 1410,
             'KENMORE': 2561,
             'NORTH BEND': 1033,
             'NEWCASTLE': 1438,
             'SHORELINE': 5142,
             'WOODINVILLE': 1251,
             'MERCER ISLAND': 2200,
             'BLACK DIAMOND': 786,
             'DES MOINES': 2620,
             'SEA-TAC': 160,
             'SNOQUALMIE': 2576,
             'TUKWILA': 1102,
             'DUVALL': 1485,
             'PACIFIC': 602,
             'CARNATION': 354,
             'ENUMCLAW': 1643,
             'ALGONA': 326,
             'CLYDE HILL': 331,
             'MEDINA': 291,
             'NORMANDY PARK': 682,
             'MILTON': 171,
             'BEAUX ARTS': 43,
             'SKYKOMISH': 28,
             'HUNTS POINT': 29,
             'YARROW POINT': 96})

In [8]:
dict = defaultdict(float)
target = df['city']

for idx, row in df.iterrows():
    city = row['city']
    dict[city] += row['sale_price']

display(dict)

defaultdict(float,
            {'FEDERAL WAY': 2636423788.0,
             'KIRKLAND': 6275040576.0,
             'RENTON': 4101012748.0,
             'BURIEN': 1529973484.0,
             'KING COUNTY': 15160733148.0,
             'SEATTLE': 37070301267.0,
             'KENT': 3464675325.0,
             'SAMMAMISH': 7362169691.0,
             'AUBURN': 2235434831.0,
             'COVINGTON': 1086358346.0,
             'ISSAQUAH': 2706800190.0,
             'BELLEVUE': 8952149663.0,
             'MAPLE VALLEY': 2034117294.0,
             'BOTHELL': 1317291529.0,
             'SeaTac': 493835565.0,
             'REDMOND': 3445516216.0,
             'LAKE FOREST PARK': 829376157.0,
             'KENMORE': 1465381635.0,
             'NORTH BEND': 676486038.0,
             'NEWCASTLE': 1168353904.0,
             'SHORELINE': 2511506996.0,
             'WOODINVILLE': 824492503.0,
             'MERCER ISLAND': 2672095751.0,
             'BLACK DIAMOND': 422692789.0,
             'DES MOINES': 972158780.0,
             'SEA-TAC': 55787810.0,
             'SNOQUALMIE': 1575161477.0,
             'TUKWILA': 389754526.0,
             'DUVALL': 737046399.0,
             'PACIFIC': 181532984.0,
             'CARNATION': 186298298.0,
             'ENUMCLAW': 570943095.0,
             'ALGONA': 87872013.0,
             'CLYDE HILL': 469733422.0,
             'MEDINA': 411712820.0,
             'NORMANDY PARK': 445392752.0,
             'MILTON': 58455617.0,
             'BEAUX ARTS': 58151120.0,
             'SKYKOMISH': 6811700.0,
             'HUNTS POINT': 33107814.0,
             'YARROW POINT': 147758877.0})

In [11]:
dict_avg = defaultdict(float)
for col in dict.keys():
    dict_avg[col] = dict[col] / dict_cnt[col]

display(dict_avg)

AttributeError: 'collections.defaultdict' object has no attribute 'columns'